{{ define "buttons"}}
<div type="button" class="row" style="padding: 20px;">
	<div class="col-md-4">
		

	</div>
	
	<div class="col-md-1" >
		
			<a href = "/">All</a>

	
	</div>

	<div class="col-md-1" >
		

		<a href = "?tag=golang">Golang</a>		
    
	</div>

	<div class="col-md-1" >
		<a href = "?tag=js">JS</a>
	</div>

	<div class="col-md-1" >

		<a href = "?tag=rust">Rust</a>
	</div>
	<div class="col-md-4" >
		
	</div>
	

	<div class="col-md-4" > 
            
        
	</div>
</div>







{{end}}