{{template "header" }}




<div class="row" style="padding: 20px;">
	<div class="col-md-3" >
	
	</div>

	<div class="col-md-3" >
<h3 style="color: #478ccf;">Post: {{.Post.PostId}}</h3>
	</div>
	

	<div class="col-md-3" >

	</div>
	<div class="col-md-3" >

	</div>
</div>

{{with .Post}}

<div class="container">
    <div class="col-xs-2">

    </div>

    <div class="col-xs-8">
        <div class=" panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title" style="color: #478ccf;"><a href="/post?postId={{.PostId}}">Theme: {{.Title}}</a></h3>
                {{if eq .Category "golang"}}
                <p>Category: Golang</p>
                {{else if eq .Category "js"}}
                <p>Category: JavaScript</p>
                {{else if eq .Category "rust"}}
                <p>Category: Rust</p>
                {{else}}
                <p>Category: {{.Category}}</p>
                {{end}}

                <div class="pull-right">
                    <a href="/post?action=reactionPost&reaction=1&postId={{.PostId}}">Like  {{.Likes}}</a>

                    <a href="/post?&action=reactionPost&reaction=2&postId={{.PostId}}">Dislike   {{.Dislikes}}</a>
                </div>
                <h3 class="username" style="font-size: 15px;">Username: {{.UserName}}</h3>

            </div>
            <div class="panel-body">
                {{.Text}}
            </div>
        </div>
    </div>

   
    <div class="col-xs-2">
    </div>
</div>

{{end}}

{{with .Comments}}
{{range .}}
<div class="container">
    <div class="col-xs-2">

    </div>

    <div class="col-xs-8">
        <div class=" panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title" style="color: #478ccf;">Comment:</h3>
               

                <div class="pull-right">
                    <a href="/post?action=reactionComment&reaction=1&postId={{.PostId}}&commentId={{.CommentId}}">Like  {{.Likes}}</a>

                    <a href="/post?action=reactionComment&reaction=2&postId={{.PostId}}&commentId={{.CommentId}}">Dislike   {{.Dislikes}}</a>
                </div>
                <h3 class="username" style="font-size: 15px;">Username: {{.UserName}}</h3>

            </div>
            <div class="panel-body">
                {{.Text}}
            </div>
        </div>
    </div>

   
    <div class="col-xs-2">
    </div>
</div>


{{end}}
{{end}}
{{with .Post}}

{{ template "comment" .}}
{{end}}


{{ template "footer" }}




